@page "/"
@using BlazorApp1.Pages.Models
@inherits MainLayout
<PageTitle> </PageTitle>
<header class="">
    <div class="row text-break">
        <div class="col-12 avatar text-center">
            <img class="rounded-circle" src="@payment.AvatarPath" alt="" @onclick="() => OnShowingPopup()"/>
        </div>
        <div class="col-12 transinfo text-center">
            <p>@payment.TransferTo</p>
        </div>
        <div class="col-12 transvalue text-center">
            <p>@payment.TransferAmount</p>
        </div>
        <hr>
        <div class="col-3 samarycol1">当前状态</div>
        <div class="col-9 samarycol2">@payment.CurrentStat</div>
        <div class="col-3 samarycol1">转账说明</div>
        <div class="col-9 samarycol2">@payment.TransferNote</div>
        <div class="col-3 samarycol1">转账时间</div>
        <div class="col-9 samarycol2">@payment.TransferDate</div>
        <div class="col-3 samarycol1">收款时间</div>
        <div class="col-9 samarycol2">@payment.CollectionTime</div>
        <div class="col-3 samarycol1">支付方式</div>
        <div class="col-9 samarycol2">@payment.PaymentMethod</div>
        <div class="col-3 samarycol1">转账单号</div>
        <div class="col-9 samarycol2">@payment.TransferOrderId</div>
    </div>
</header>

@if (_showPopup)
{
    <div class="container position-absolute top-50 start-50 translate-middle bg-light"
         style="z-index: 2000">
        <EditForm Model="@payment">
            <label class="form-label">头像地址</label>
            <InputText class="form-control" @bind-Value="payment.AvatarPath"/>
            <label class="form-label">收款人</label>
            <InputText class="form-control" @bind-Value="payment.TransferTo"/>
            <label class="form-label">转账金额</label>
            <InputText class="form-control" @bind-Value="payment.TransferAmount"/>
            <label class="form-label">当前状态</label>
            <InputText class="form-control" @bind-Value="payment.CurrentStat"/>
            <label class="form-label">转账说明</label>
            <InputText class="form-control" @bind-Value="payment.TransferNote"/>
            <label class="form-label">转账时间</label>
            <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="payment.TransferDate"/>
            <label class="form-label">收款时间</label>
            <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="payment.CollectionTime"/>
            <label class="form-label">支付方式</label>
            <InputText class="form-control" @bind-Value="payment.PaymentMethod"/>
            <label class="form-label">转账单号</label>
            <InputText class="form-control" @bind-Value="payment.TransferOrderId"/>
            <button type="submit" class="btn btn-outline-primary" @onclick="OnClosePopup">更改</button>
        </EditForm>
    </div>
}

@code
{
    private Payment payment = new();
    bool _showPopup;

    void OnShowingPopup()
    {
        _showPopup = true;
        Console.WriteLine("_showPopup = " + _showPopup);
    }

    void OnClosePopup()
    {
        _showPopup = false;
        Console.WriteLine("_showPopup = false;");
    }
}