@page "/"
@using BlazorApp1.Models
@inherits MainLayout
<PageTitle> </PageTitle>
<header class="">
    <div class="row text-break">
        <div class="col-12 avatar text-center">
            <img class="rounded-circle" src="@_payment.AvatarPath" alt="" @onclick="() => OnShowingPopup()"/>
        </div>
        <div class="col-12 transinfo text-center">
            @if (_payment.TransferNote == NoteType.微信转账)
            {

                <p>转账-转给@_payment.TransferTo</p>
            }
            else
            {
                <p>扫二维码付款-给@_payment.TransferTo</p>
            }
        </div>
        <div class="col-12 transvalue text-center">
            <p>@_payment.TransferAmount</p>
        </div>
        <hr>

        @if (_payment.TransferNote == NoteType.微信转账)
        {
            <div class="col-3 samarycol1">当前状态</div>
            <div class="col-9 samarycol2">@_payment.CurrentStat</div>
            <div class="col-3 samarycol1">转账说明</div>
            <div class="col-9 samarycol2">@_payment.TransferNote</div>
            <div class="col-3 samarycol1">转账时间</div>
            <div class="col-9 samarycol2">@_payment.TransferDate.ToString("yyyy年M月d日 HH:mm:ss")</div>
            <div class="col-3 samarycol1">收款时间</div>
            <div class="col-9 samarycol2">@_payment.CollectionTime.ToString("yyyy年M月d日 HH:mm:ss")</div>
            <div class="col-3 samarycol1">支付方式</div>
            <div class="col-9 samarycol2">@_payment.PaymentMethod</div>
            <div class="col-3 samarycol1">转账单号</div>
            <div class="col-9 samarycol2">@_payment.TransferOrderId</div>
        }
        else
        {
            <div class="col-3 samarycol1">当前状态</div>
            <div class="col-9 samarycol2">@_payment.CurrentStat</div>
            <div class="col-3 samarycol1">收款方备注</div>
            <div class="col-9 samarycol2">@_payment.TransferNote</div>
            <div class="col-3 samarycol1">支付方式</div>
            <div class="col-9 samarycol2">@_payment.PaymentMethod</div>
            <div class="col-3 samarycol1">转账时间</div>
            <div class="col-9 samarycol2">@_payment.TransferDate.ToString("yyyy年M月d日 HH:mm:ss")</div>
            <div class="col-3 samarycol1">转账单号</div>
            <div class="col-9 samarycol2">@_payment.TransferOrderId</div>
        }
    </div>
</header>
<div class="blank vw-100"></div>
@if (_payment.TransferNote == NoteType.微信转账)
{
    <footer class="">
        <div class="row">
            <div class="col-12 p-0" style="font-size: 0.8rem">
                <p>账单服务</p>
            </div>
            <hr >
            <div class="col-6 p-0 billservice"><i class="bi bi-question-circle"></i>对订单有疑惑</div>
            <div class="col-6 p-0 billservice"><i class="bi bi-chat"></i>定位到聊天位置</div>
            <div class="col-6 p-0 billservice"><i class="bi bi-star"></i>申请转账电子凭证</div>
            <div class="col-6 p-0 billservice"> <i class="bi bi-arrow-left-right"></i>查看来往转账</div>
        </div>
    </footer>
}
else
{
    <footer class="">
        <div class="row">
            <div class="col-12 p-0" style="font-size: 0.8rem">
                <p>账单服务</p>
            </div>
            <hr >
            <div class="col-6 p-0 billservice"><i class="bi bi-question-circle"></i>对订单有疑惑</div>
            <div class="col-6 p-0 billservice"><i class="bi bi-file-check"></i>发起群收款</div>
        </div>
    </footer>
    <div class="blank"></div>
    <div class="footer" style="z-index: 1050">
        <div class="row">
            <div class="col-12 p-0" style="font-size: 0.8rem;">
                <p>收款方服务</p>
            </div>
            <hr >
            <div class="col-6 p-0 billservice"><i class="bi bi-person-vcard"></i>收款方名片</div>
        </div>
    </div>
}
@if (_showPopup)
{
    <div class="container position-absolute top-50 start-50 translate-middle bg-light"
         style="z-index: 2000">
        <EditForm Model="@_payment">
            <label class="form-label mt-3">头像地址</label>
            <InputText class="form-control" @bind-Value="_payment.AvatarPath"/>
            <label class="form-label mt-3">收款人</label>
            <InputText class="form-control" @bind-Value="_payment.TransferTo"/>
            <label class="form-label mt-3">转账金额</label>
            <InputText class="form-control" @bind-Value="_payment.TransferAmount"/>
            <label class="form-form-label vw-100 mt-3">转账说明</label>
            <InputRadioGroup @bind-Value="_payment.TransferNote">
                <InputRadio Value="@NoteType.二维码收款"/>
                <label class="form-check-label">二维码收款</label>
                <InputRadio Value="@NoteType.微信转账"/>
                <label class="form-check-label">微信转账</label>
            </InputRadioGroup><br>
            <label class="form-label mt-3">转账时间</label>
            <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="_payment.TransferDate"/>
            <label class="form-label mt-3">收款时间</label>
            <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="_payment.CollectionTime"/>
            <label class="form-label mt-3">支付方式</label>
            <InputText class="form-control" @bind-Value="_payment.PaymentMethod"/>
            <button type="submit" class="btn btn-outline-primary" @onclick="OnClosePopup">更改</button>
        </EditForm>
    </div>
}

<nav class="fixed-bottom">
    @if (_payment.TransferNote == NoteType.微信转账)
    {
        <div class="text-center" style="color: #a6a6a6;z-index: -1">
            本服务由财付通提供
        </div>
    }
    <div class="row justify-content-center text-center nag">
        <div class="col-3">
            <i class="bi bi-chevron-left"></i>
        </div>
        <div class="col-3">
            <i class="bi bi-chevron-right" style="color: #a8a8a8"></i>
        </div>
    </div>
</nav>

@code
{
    private Payment _payment = new();
    bool _showPopup;

    protected override void OnInitialized()
    {
        _payment.AvatarPath = "images/tx.jpg";
        _payment.TransferTo = "华达";
        _payment.TransferAmount = "-100.00";
        _payment.TransferNote = NoteType.微信转账;
        _payment.TransferDate = DateTime.Now;
        _payment.CollectionTime = DateTime.Now;
        _payment.PaymentMethod = "中国银行储蓄卡(0155)";
        GenerateOrderId();
    }

    void OnShowingPopup()
    {
        _showPopup = true;
        Console.WriteLine("_showPopup = " + _showPopup);
    }

    void OnClosePopup()
    {
        Random rd = new();
        GenerateOrderId();
        _showPopup = false;
        int second = rd.Next(0, 59);
        int second2 = rd.Next(0, 59);
        _payment.TransferDate = _payment.TransferDate.AddSeconds(second);
        _payment.CollectionTime = _payment.CollectionTime.AddSeconds(second2);
        Console.WriteLine("_showPopup = false;");
    }

    void GenerateOrderId()
    {
        Random rd = new Random();
        DateTime dt = _payment.TransferDate;
        var rand1 = rd.Next(9999999);
        var rand2 = rd.Next(9999999);

        if (_payment.TransferNote == NoteType.微信转账)
        {
            _payment.CurrentStat = "对方已收钱";
            _payment.TransferOrderId = "1000050001" + dt.ToString("yyyyMMdd") + rand1 + rand2;
        }
        else
        {
            _payment.AvatarPath = "images/qrpay.png";
            _payment.CurrentStat = "支付成功";
            _payment.TransferOrderId = "1000049901" + dt.ToString("yyyyMMdd") + rand1 + rand2;
        }
    }
}